---

################################################################
### User settings
################################################################
user_name: arch
user_group: arch
user_shell: /bin/bash
user_uid: 1000
user_gid: 1000
user_pass_hash: '$6$vultr.arch$a41beHtZ6/9A0eHjfII3VyArafuiGSFxXYas.LOR6dehb44EW6V0d.HxwHB5oiMTwXj.I3oE3cB/D8F1QvZFt1'

################################################################
### System settings
################################################################
system:
  timezone: America/Toronto
  locale: en_US.UTF-8

################################################################
### Docker global settings
################################################################
docker_app_data: /docker

################################################################
### SSH settings
################################################################
ssh_setting:
  port: 22
  password_authentication: "no"
  root_login: "no"
  challenge_response_authentication: "no"

################################################################
### Traefik
################################################################
traefik_container_name: traefik
traefik_container_store: traefik
traefik_version: "v1.7"
traefik_docker_image: traefik:v1.7
traefik_config_directory: "{{ docker_home }}/traefik"
traefik_debug: "false"
# External Access
# Traefik will allow access to certain applications externally. To enable this you'll either a domain name that points to your
# home static IP address, the cloudflare with the cloudflare_ddns dynamic DNS container enabled, or use a dynamic DNS provider like no-ip.
# You'll also need to map ports 80 and 443 from your router to your ansible-nas server, then enable the per-app "available_externally"
# settings.
traefik_enabled: false
traefik_port_http: "80"
traefik_port_https: "443"
traefik_port_ui: "8083"

################################################################
### MySQL/MariaDB settings
################################################################
mysql_root_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64373533373961643363653535316263396135356361386366326433656537663031316161323766
          6461326364613138396633306662623439616434343261390a663664396166343233366364376531
          34393333313332326331636430353839616130613931323962626464636434356462396338643765
          3361663533646562610a383863666238643866633765353865343162666534626266626539326234
          3161
mysql_user: ${mysql_user}
mysql_database: ${mysql_database}
mysql_password: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          64373533373961643363653535316263396135356361386366326433656537663031316161323766
          6461326364613138396633306662623439616434343261390a663664396166343233366364376531
          34393333313332326331636430353839616130613931323962626464636434356462396338643765
          3361663533646562610a383863666238643866633765353865343162666534626266626539326234
          3161


################################################################
### Share Folders
################################################################
samba_shares_root: /mnt/

media_downloads: "{{ samba_shares_root }}/downloads"
media_movies: "{{ samba_shares_root }}/movies"
media_tv: "{{ samba_shares_root }}/tv/tv"
media_torrents: "{{ samba_shares_root }}/torrents"

################################################################
### Heimdall
################################################################
heimdall_enabled: false
heimdall_container_name: heimdall
heimdall_container_store: linuxserver
heimdall_config_directory: "{{ docker_app_data }}/heimdall"
heimdall_version: latest
heimdall_port_http: 9050
heimdall_port_https: 9052

################################################################
### Gitea
################################################################
gitea_enabled: false
gitea_container_name: gitea
gitea_container_store: gitea
gitea_config_directory: "{{ docker_app_data }}/gitea"
gitea_version: latest
gitea_port_http: 3001
gitea_port_ssh: 222
gitea_db_config_directory: "{{ docker_app_data }}/gitea/mysql"
gitea_db_container: gitea-db
gitea_db_root_password: "{{ mysql_root_password }}"
gitea_db_name: gitea
gitea_db_user: gitea
gitea_db_host: gitea
gitea_root_password: "{{ mysql_root_password }}"

################################################################
### Gitlab
################################################################
gitlab_enabled: false
gitlab_container_name: gitlab-ce
gitlab_container_store: gitlab
gitlab_config_directory: "{{ docker_app_data }}/gitlab"
gitlab_version: latest
gitlab_port_http: 4080
gitlab_port_https: 4043
gitlab_port_ssh: 4022

################################################################
### Dillinger
################################################################
dillinger_enabled: false
dillinger_container_name: dillinger
dillinger_container_store: linuxserver
dillinger_version: latest
dillinger_port: 9902

################################################################
### Nextcloud
################################################################
nextcloud_enabled: false
nextcloud_container_name: nextcloud
nextcloud_container_store: linuxserver
nextcloud_version: latest
nextcloud_port: 9983

################################################################
### Mariadb
################################################################
mariadb_container_name: mariadb
mariadb_container_store: linuxserver
mariadb_config_directory: "{{ docker_app_data }}/mariadb"
mariadb_version: latest
mariadb_port: 3306
mariadb_root_password: "{{ mysql_root_password }}"

################################################################
### Bookstack
################################################################
bookstack_enabled: false
bookstack_container_name: bookstack
bookstack_container_store: linuxserver
bookstack_config_directory: "{{ docker_app_data }}/bookstack"
bookstack_version: latest
bookstack_port_http: 6875
bookstack_db_container: bookstack_db
bookstack_db_config_directory: "{{ docker_app_data }}/bookstack/mysql"
bookstack_db_root_password: "{{ mysql_root_password }}"
bookstack_db_name: bookstackapp
bookstack_db_user: bookstack
bookstack_db_host: bookstack_db
bookstack_root_password: "{{ mysql_root_password }}"

################################################################
### Grafana
################################################################
grafana_enabled: false
grafana_container_name: grafana
grafana_container_store: grafana
grafana_config_directory: "{{ docker_app_data }}/grafana"
grafana_version: latest
grafana_port: 3000

################################################################
### Portainer
################################################################
portainer_enabled: false
portainer_container_name: portainer
portainer_container_store: portainer
portainer_config_directory: "{{ docker_app_data }}/portainer"
portainer_version: latest
portainer_port: 9000

################################################################
### Wallabag
################################################################
wallabag_enabled: false
wallabag_container_name: wallabag
wallabag_container_store: wallabag
wallabag_config_directory: "{{ docker_app_data }}/wallabag"
wallabag_version: latest
wallabag_port_http: 7780

################################################################
### Jellyfin
################################################################
jellyfin_enabled: false
jellyfin_container_name: jellyfin
jellyfin_container_store: linuxserver
jellyfin_config_directory: "{{ docker_app_data }}/jellyfin"
jellyfin_version: latest
jellyfin_port_http: 1019

################################################################
### Plex
################################################################
plex_enabled: false
plex_container_name: plex
plex_container_store: linuxserver
plex_config_directory: "{{ docker_app_data }}/plex"
plex_version: latest

################################################################
### Packages
################################################################
base:
  packages:
    - git
    - curl
    - aria2
    - bash-completion
    - htop
    - unzip
    - zip
    - tree
    - tmux
    - man-db
    - coreutils
    - python3
    - python3-pip

server:
  packages:
  fonts:

workstation:
  packages:
  fonts:
