---

- include_tasks: bookstack.yml
  when: (bookstack_enabled | default(False))
  tags: bookstack

- include_tasks: plex.yml
  when: (plex_enabled | default(False))
  tags: plex

- include_tasks: jellyfin.yml
  when: (jellyfin_enabled | default(False))
  tags: jellyfin

- include_tasks: wallabag.yml
  when: (wallabag_enabled | default(False))
  tags: wallabag

- include_tasks: sonarr.yml
  when: (sonarr_enabled | default(False))
  tags: sonarr

- include_tasks: radarr.yml
  when: (radarr_enabled | default(False))
  tags: radarr

- include_tasks: sickchill.yml
  when: (sickchill_enabled | default(False))
  tags: sickchill

- include_tasks: couchpotato.yml
  when: (couchpotato_enabled | default(False))
  tags: couchpotato
